# Latex build file
**/*.aux
**/*.fdb_latexmk
**/*.out
**/*.fls
**/*.log
**/*.synctex.gz
src/**/*.pdf
output/**/*.pdf
modified_files.txt

# Node.js
node_modules

# Extension build directory
out

# IDE specific folders
**/.idea/
